[2019-11-12 06:30] omrikiei opened #3 "websockets don't work"

[2019-12-26 09:26] CodingSpiderFox opened #5 "License"
Could you please add a license to the repository?

[2020-01-10 11:40] DrDonk opened #6 "Change namespace"
Hi
I need to use a different namespace for expose and inject. I see there is a namespace flag but it never seems to work or I have got the command line wrong.

Help text is:
[code]
Is the namespace flag implemented? What is the correct command line order to change namespace?

[2020-01-11 18:07] omrikiei commented on #3
solved in v1.1.1

[2020-01-11 18:07] #3 closed

[2020-01-11 18:07] omrikiei commented on #5
Sure, on it

[2020-01-11 18:10] #5 closed

[2020-01-11 18:28] omrikiei commented on #6
Hey, there is a missing implementation with `expose`, will shortly release a new minor version with a fix for that
what command are you typing for `inject`?

[2020-01-11 18:36] omrikiei commented on #6
OK notices an issue with the port-forward to the server pod, will issue a fix in the next minor version

[2020-01-11 19:54] omrikiei commented on #6
v1.1.3 has a fix 🍺

[2020-01-11 19:54] #6 closed

[2020-01-13 18:21] DrDonk opened #8 "URL Parse Error"
Trying to use ktunnel with Rancher deployed pod (the example pod ffrom this repo). The following error is displayed:
`INFO[0001] Injecting tunnel sidecar to dparsons/pyremotedebug`
`INFO[0002] Waiting for deployment to be ready`
`INFO[0007] Waiting for port forward to finish`
`ERRO[0007] error upgrading connection: error creating request: parse https://rancher.plaidcloud.io%2Fk8s%2Fclusters%2Fc-wf

[2020-01-13 18:56] omrikiei commented on #8
@DrDonk thanks for reporting! Is port-forward to the pod via kubectl working for you?

[2020-01-13 19:31] DrDonk commented on #8
The port forward via 8000 works. The port 4321 does not work when using http://localhost:8000/
debug.

[2020-01-15 08:36] omrikiei opened #9 "Ctrl+C makes the ktunnel client command hang"

[2020-01-17 20:18] omrikiei commented on #8
@DrDonk, since I don't have prior experience with rancher, could you walk me through the steps of how to reproduce the failure?

[2020-01-18 19:29] omrikiei commented on #8
@DrDonk I pre-released an alpha that should fix this, could you try to inject with this version and let me know?
https://github.com/omrikiei/ktunnel/releases/tag/v1.1.5-alpha

If it's resolved I'll release it

[2020-01-18 21:32] DrDonk commented on #8
I still had a problem but later in the process. Maybe another piece of code with same issue. I'm sorry can't really help with Rancher as I just use it as setup by devops folks.

`INFO[0000] Injecting tunnel sidecar to dparsons/pyremotedebug `
`INFO[0000] Waiting for deployment to be ready           `
`INFO[0008] All pods located for port-forwarding         `
`INFO[0008] Waiting for port forward to

[2020-01-19 03:45] omrikiei commented on #8
No worries, can you check how the cluster host appears in the kube config file and let me know?(`~/.kube/config`)

[2020-01-19 09:11] DrDonk commented on #8
Here's the config file. I removed my token.

`apiVersion: v1
clusters:
- cluster:
    server: https://rancher.plaidcloud.io/k8s/clusters/c-wfdqx
  name: io
contexts:
- context:
    cluster: io
    namespace: dparsons
    user: io
  name: io
current-context: io
kind: Config
preferences: {}
users:
- name: io
  user:
    token:`

[2020-01-19 11:56] DrDonk commented on #9
I can confirm this same issue on macOS Mojave 10.14.6 (18G2022).

[2020-01-29 21:51] omrikiei commented on #9
fixed in v1.1.6

[2020-01-29 21:51] #9 closed

[2020-01-29 22:04] omrikiei commented on #8
@DrDonk I can't seem to reproduce it in my environment, are you positive that you've been testing with version 1.1.5a? can you send me a checksum of that executable please?

[2020-02-01 14:01] DrDonk commented on #8
The download checksum is the same as in the file 21b4e5d7e88f83699330de641871b8da234c37c0a83b8ae1ed7747fe2ced03ee  ktunnel_1.1.5-alpha_Darwin_x86_64.tar.gz

The executable is:
e2d2de3b42e31e7c0eeaeed29bfaea4ec5f6a605680f0f13b68657233412273d  /Users/dave/xfer/ktunnel

I've actually been debugging it in Jetbrains Goland IDE and it seems to be a problem in library code but still tracking it down.

[2020-02-01 19:43] omrikiei commented on #8
@DrDonk let me know if there's anything I can do to help, looking forward for your findings! thank you

[2020-02-02 22:41] DrDonk commented on #8
The issue is that the Rancher host is actually a host and partial path which needs separating before constructing the serverURL.

Using a dummy URL the config has:
`https://rancher.plaidcloud.io/k8s/clusters/c-wfdqx`

Currently the parsing creates the url.URL struct with the fields like this:
[code]
The serverURL needs to be like this:

[code]
When I hard code the serverURL with the fields set up

[2020-02-03 14:46] omrikiei commented on #8
I'll get to fixing it tonight/tomorrow night. Thank you!

[2020-02-03 20:06] omrikiei commented on #8
@DrDonk it should be fixed in v1.1.7
I've tested it for correct behaviour, but it would be great if you can confirm that it works now.
Thank you for all your efforts so far, and for this great catch!

[2020-02-03 22:24] DrDonk commented on #8
I just pulled latest master and works in the IDE. So should be good to go. Thanks for writing this utility. I can debug in my test pods with SSH and Pycharm remote debugging, but for our staging and production pods we have to either use VSCode or Pycharm with the callback to the IDE to the debug server.

[2020-02-04 04:19] omrikiei commented on #8
Thanks for being patient! Closing this now

[2020-02-04 04:19] #8 closed

[2020-02-05 20:41] outbounder opened #10 "ERRO[0000] Failed to get k8s client: no Auth Provider found for name "gcp""
Hi @omrikiei and thank you for your work!

I'm trying to use `ktunnel` but stumbled upon an issue which I'm posting here in case there are any clues on how to resolve :hammer: the showstopper :bug: :) (note: I'm golang newbie)

Here is what I can share so far of my findings:

# Steps to reproduce

1. download [latest binary 1.1.7 for linux](https://github.com/omrikiei/ktunnel/releases/download/v1.

[2020-02-05 22:21] omrikiei commented on #10
Hello @outbounder, a quick search referred me to [this issue](https://github.com/kubernetes/client-go/issues/242) stating that gcp Auth support should be explicitly imported. I've added auth support imports for existing cloud providers in v1.1.8(currently being released), however since I don't have any quick an immediate way to validate this fix, would you be able to try again and let me know if t

[2020-02-06 07:59] outbounder commented on #10
@omrikiei awesome! Its working now fine. I mean it is connecting and creating/deleting service deployment as expected.

I guess we can close this issue which I'm doing now but please excuse me if that was not correct :)

Thank you for your time & energy in this :gem: :heart:

[2020-02-06 07:59] #10 closed

[2020-02-06 08:09] outbounder opened #11 "ERRO[0007] Error sending init tunnel request: rpc error: code = Unavailable"
Hi @omrikiei :)

Its me again, this time with the following:

[code]

I'll appreciate :heart_eyes: any clues as always :)

Kind regards,
Boris

[2020-02-06 08:22] omrikiei commented on #11
Good morning, could it be that the port(28688) is already taken by another application?
Is it possible that another instance of ktunnel is running and occupying this port?

[2020-02-06 08:30] outbounder commented on #11
Good morning sir :)

Well I've tried with different port (several times) but with no avail.

Also I'm trying to find the pod but neither `kubectl describe pod <uid>` nor `kubectl get pods` include ktunnel's pod...

For `<uid>` I'm using the strange hash from the output logs (but doubt that is the case :) ).

[2020-02-06 08:44] outbounder commented on #11
Update: found the deployment and the ktunnel's pod (after realizing that they are with the exposed service name)

The pod's logs are as follows:

[code]

[2020-02-06 09:00] omrikiei commented on #11
So that seems weird - ktunnel is listening on port 8000 :\
And it's weird because the only whey to change it is with an explicit flag.. i'm looking into this

[2020-02-06 09:07] omrikiei commented on #11
@outbounder can you extract the deployment spec for the ktunnel server and paste it here please?

[2020-02-06 09:11] outbounder commented on #11
@omrikiei Sorry for the `port 8000` mislead, I'm just testing with different ports ;)

Without executing `ktunnel expose ... -p 8000` it listens on the default port 28688 as expected but still there is fatal error for `kube/config`

Here are up-to-date issue details

## Steps to reproduce

1. execute `$ ktunnel expose myWebapp 8084:8084 -n myNamespace -v`

### output

[code]

### myWebapp pod logs

[2020-02-06 21:28] omrikiei commented on #11
@outbounder, I tried reproducing the same behaviour without success. Does your cluster have any security policy or or a security application?

Another thing I'm looking at is that by the server logs it started listening on 08:53:09 while socat failed at 08:53:04, but this assumption ignores any time differences between your local machine and the kubernetes node.

[2020-02-08 10:13] saikiran994 opened #12 "ktunnel on windowns"
how to run ktunnel on windows?

[2020-02-09 21:32] omrikiei commented on #12
Hi, [release 1.1.9](https://github.com/omrikiei/ktunnel/releases/tag/v1.1.9) was added along with windows executables.

[2020-02-09 21:32] #12 closed

[2020-02-11 22:39] omrikiei commented on #11
Hey @outbounder, just checking if you had a chance to play around with this functionality again...

[2020-02-12 08:37] mrkswrnr opened #13 "ERRO[0009] error upgrading connection due to incorrect port-forward url"
Hi @omrikiei, first of all: thank you for your work!

I'm trying to use `ktunnel` to forward a local port to the cluster.

# Steps to reproduce
1. download latest (brew) binary 1.1.8 for macos
2. execute `ktunnel expose myapp 3000:8000 -n mynamespace -v`
3. see:

[code]

# kubectl version
[code]

# kube config
[code]

The configured kube.config server is: `srv01.mydomain.de` while `rv01.mydomain.d

[2020-02-12 18:07] omrikiei commented on #13
Hi @mrkswrnr, nice catch, thank you! issued a fix in v1.1.10(being released now)

[2020-02-13 10:40] mrkswrnr commented on #13
I can confirm it's working now. Both errors seem to be fixed: Deployment and service are started, port forwarding works and the tunnel is successfully established. Also, ktunnel no longer hangs when exiting. Thank you!

[2020-02-13 11:57] mrkswrnr opened #14 "Tunnel established but does not respond or shows high CPU usage"
Hi @omrikiei, it's me again 🙈

I am currently trying to forward a simple local HTTP server into the cluster. Service, deployment and kTunnel (28688 -> 28688) are always established correctly and do not show any errors. Nevertheless the ktunnel server very often does not forward any requests to the local ktunnel client. Requests end in a timeout, although no errors can be seen.

# Steps to reproduc

[2020-02-13 12:45] omrikiei commented on #13
Awesome, closing this!

[2020-02-13 12:45] #13 closed

[2020-02-13 12:47] omrikiei commented on #14
Hi, weird question, are you locally listening on port 8080?
I'll try to look further into that during the weekend, again thanks for catching this!

[2020-02-13 13:45] mrkswrnr commented on #14
Yes, the local HTTP server listens on 0.0.0.0:8080.
`curl -v http://localhost:8080` or `curl -v http://0.0.0.0:8080` (locally) works as expected.

Thanks for taking a look!
I know that the fact that it sometimes works makes it difficult to reproduce the error. I'm digging through the source code a little bit right now. Maybe I can provide some more information.

[2020-02-13 18:53] outbounder commented on #11
Hey @omrikiei , I've just tested successfully with [v1.1.10](https://github.com/omrikiei/ktunnel/releases/tag/v1.1.10) so I guess this is some sort of false positive.

Closing the issue, will reopen in case the problem raises.

Thanks for the amazing work and wonderful support! :bowing_man:

[2020-02-13 18:53] #11 closed

[2020-02-13 21:05] mrkswrnr commented on #14
Some more information:
I can reproduce both cases locally (without involving Docker or Kubernetes which eliminates some error sources).

I modified the logger to use `FullTimestamp` to make it easier to follow the outputs.

## Steps to reproduce
0. Start a http via e.g. via `go run github.com/m3ng9i/ran -p 8080`
1. Start the server via: `ktunnel server -v`
2. Start the client via: `ktunnel client

[2020-02-15 00:53] omrikiei commented on #14
Hey, can you check v1.2.0? I made major improvements and found several deadlocks in mutexes that are supposedly fixed now...

[2020-02-15 09:37] mrkswrnr commented on #14
The tunnel is now always established reliably and there is no more heavy CPU usage. However, there now seem to be problems with closing connections and reusing sockets (http keep-alive connections). I would create another issue about this problem as soon as I can describe a reconstructable process :see_no_evil:
This issue seems to be fixed though. Thanks a lot!

[2020-02-15 10:28] omrikiei commented on #14
I'll have a look on how to make those connections terminate sooner. Thanks for the valuable feedback. Also keeping this issue open for the time being..

[2020-02-15 17:28] mrkswrnr commented on #14
I think another problem that concerns me is that within a session, between two writes, the buffer is not cleared. As a result, parts of the previous (longer) data packet are partly still contained in the following packet.

You could shorten the `buff` to `br` [here](https://github.com/omrikiei/ktunnel/blob/3cf5348ba9443d9dc0982c527ae1c3e7b06b1a8e/pkg/server/server.go#L111), I think. I would prepar

[2020-02-15 19:24] omrikiei commented on #14
Yes! nice catch!

[2020-02-16 19:24] omrikiei commented on #14
Hi @mrkswrnr, a fix is pushed in v1.2.1..
For future reference - I would love for people to contribute to this project.

[2020-02-17 08:47] mrkswrnr commented on #14
Sorry for not opening the Pull Request, but despite the fix it still seems to send few packets incorrectly and I wanted to check that first. But the error seems to occur only with longer server responses. I am still trying to narrow it down.

[2020-02-17 10:14] omrikiei commented on #14
Buffer size was reset to 4096 in this version - so it could be related... will try to check it tonight

[2020-02-27 22:20] fieldju opened #15 "ktunnel should honor kubectl env var for setting the active config"
`export KUBECONFIG=${HOME}/.kube/dev-west.yaml`

When I use ktunnel I get the following error

```ERRO[0000] Failed getting kubernetes config: stat /Users/fieldju/.kube/config: no such file or directory ```

I would expect kubectl and ktunnel to use the same env var for choosing what config to use.

Found this: https://github.com/omrikiei/ktunnel/blob/53579ccf9fd56e3ca0efa012249e0b6fcab425df/pkg/k

[2020-02-27 22:22] fieldju commented on #15
Found this: https://github.com/omrikiei/ktunnel/blob/53579ccf9fd56e3ca0efa012249e0b6fcab425df/pkg/k8s/common.go#L38

Is that a typo or intentional?

Right now for me to use kubectl and this I need to set 2 env vars

[code]

[2020-02-29 10:22] omrikiei commented on #15
it's a typo, it shall be fixed soon

[2020-02-29 21:07] omrikiei commented on #15
released in v1.2.2

[2020-02-29 21:07] #15 closed

[2020-03-08 13:57] kollender opened #16 "Support local registries"
It would be great if ktunnel could support local registries.
For instance:
`ktunnel inject ... --image my/local/registry/ktuneel:my-tag`

[2020-04-14 15:38] jessebye opened #17 "Failed reading from socket, exiting"
When we try to use `ktunnel` to establish a connection for using `xdebug` in one of our containers, it works for about 15 seconds before failing with this error:

[code]

The ktunnel command we were using was `ktunnel inject -n poor-cannon deployment api 8999:8999`

`ktunnel version`: `1.2.2`

[2020-04-14 22:32] omrikiei commented on #17
Hi @jessebye, does the pod in this deployment have multiple containers on it?
If you're reverse proxying port 8999, why is the tunnel established to port 9000?

Could you try using the `expose` subcommand, and configure your pod connect to the ip addr or host of the exposed service?

[2020-04-14 22:44] jessebye commented on #17
@omrikiei I've tried that as well, here's the log result doing that:
[code]

[2020-04-15 17:48] omrikiei commented on #17
It seems like the connection was closed by the pod that sent the request to the xdebug service.

Does you development environment listen to DBGP on port 9000?

Do you see anything in the IDE?

[2020-04-16 03:54] jessebye commented on #17
Yes, it is listening to DBGP on port 9000. The IDE shows that a connection is going and receives some traffic from xdebug, but then loses the connection.

[2020-04-16 04:57] omrikiei commented on #17
I assume that when you run xdebug locally and bind it to port 9000 it works right?
I want to try an reproduce the issue to debug it, can you recommend on an easy setup of a php app with xdebug, and the IDE you're using?

[2020-04-16 22:48] jessebye commented on #17
@omrikiei this seems like a good one to use: https://github.com/okteto/php-getting-started
I am using https://www.jetbrains.com/phpstorm/ for IDE.

[2020-04-18 08:36] omrikiei commented on #17
Hi @jessebye, i've download phpStorm, and followed [this](https://www.jetbrains.com/help/phpstorm/remote-debugging-via-ssh-tunnel.html) tutorial to start debugging with the minimal PHP app from okteto. I managed to sporadically reproduce the issue and I'm looking into this.

[2020-04-18 20:23] omrikiei commented on #17
@jessebye, I released an alpha version - hopefully it should resolve the issue.. could you please try to work with [v1.2.3-alpha](https://github.com/omrikiei/ktunnel/releases/tag/v1.2.3-alpha) and let me know the issue persists?

[2020-04-18 20:24] omrikiei commented on #14
Hey @mrkswrnr, just discovered a possible issue with stream persistence, I made a pre-release of [v1.2.3-alpha](https://github.com/omrikiei/ktunnel/releases/tag/v1.2.3-alpha) - could you see id that version resolves the issue you've described?

[2020-04-20 15:44] jessebye commented on #17
Hey @omrikiei , that version works! I no longer get disconnected partway through debugging 😄 Thanks for tracking this down and getting it resolved, it will make a big difference for our team!

[2020-04-20 19:51] omrikiei commented on #17
This is awesome to here, closing this.. thank for your feedback, will release this soon

[2020-04-20 19:51] #17 closed

[2020-04-23 22:11] jonastim opened #19 "Add resource request for injected ktunnel server sidecar"
Thanks for the great tool, @omrikiei!

I ran into a small issue on my Kubernetes cluster. The injected sidecar doesn't specify any resource request (`resources: {}` in the deployment yaml) which the cluster doesn't allow. My workaround is to manually edit the yaml and add CPU and memory limits and requests to unblock the deployment.
Could you add a reasonable default to make that step unnecessary?

[2020-04-24 04:10] omrikiei commented on #19
Hey @jonastim, i'll try to take a look over the weekend, thanks you

[2020-04-24 21:58] omrikiei commented on #19
releasing a version that requests 500m for the injected pod, is your cluster enforcing both requests and limits and both cpu and memory?

[2020-04-24 21:59] omrikiei commented on #14
closing this for now, kindly re-open if anything reappears...

[2020-04-24 21:59] #14 closed

[2020-04-25 03:33] jonastim commented on #19
Great! Yes, in the Replica Set event log the error is `Error creating: pods <pod name> is forbidden: failed quota: cpu-mem-hard-limits: must specify cpu, memory`

[2020-04-26 08:49] omrikiei commented on #19
👍 so I'll need to refine this change, will release a newer minor version in the tonight

[2020-04-26 21:17] omrikiei commented on #19
should be working in release [v1.2.5](https://github.com/omrikiei/ktunnel/releases/tag/v1.2.5), could you please verify?

[2020-04-28 01:21] jonastim commented on #19
Works great 👍
I couldn't install through brew and grabbed the binary.
It says version 1.2.4 but I assume it was just forgotten to bump somewhere.
[code]

[2020-04-28 04:16] omrikiei commented on #19
Yes, will take care of this soon, closing.

[2020-04-28 04:16] #19 closed

[2020-04-28 05:00] jonastim opened #21 "Pydevd protocol issues"
I've encountered a couple of debugger parsing issues where evidently different field types were expected than what was delivered, some seemingly cutting of a single character or scrambling up file paths. Sometimes the debugging sessions continue fine but other times things get stuck.

<img width="837" alt="Screen Shot 2020-04-27 at 8 57 47 PM" src="https://user-images.githubusercontent.com/1749498

[2020-04-30 17:15] kukat opened #22 "failed connecting to localhost on port 9002 scheme tcp"
ktunnel version 1.2.4 (1.2.5 actually)

my PHPStorm is listening port 9002.
[code]

And I also tried to start a TCP server to respond to the connection.
[code]

same error.

[code]

[2020-05-01 15:40] omrikiei commented on #21
Hi @jonastim, have not encountered such issues so far, but I've only been using this version of PyCharm for a couple of days...
what instrumentation command are you using in your code to bind with the debugger?
what configurations are you using to map paths from the container to your env?

[2020-05-01 15:56] omrikiei commented on #22
Hi @kukat, the ktunnel client attempts to dial to localhost:9002, what happens if you try to netcat/telnet/curl manually? are you able to bind? if so, the client has a 50ms dial timeout and maybe increasing it will solve this.

I've released [v1.2.6](https://github.com/omrikiei/ktunnel/releases/tag/v1.2.6) that includes the actual error in the log message, could you please use that version and let

[2020-05-04 14:30] kukat commented on #22
Thanks @omrikiei

still failed with the latest v1.2.6, extra error info:

[code]

[2020-05-04 15:03] omrikiei commented on #22
I've increased the dial timeout to 500ms in v1.2.7(being released now..)

[2020-05-04 16:27] kukat commented on #22
Awesome, 1.2.7 works!
Thank you @omrikiei

btw, do you think if it makes sense to add `timeout` as an argument

[2020-05-04 16:31] kukat commented on #22
also, is there a reconnect strategy? i noticed that if i restart the phpstorm, the connection is dead, i have to quit ktunnel and run ktunnel inject again.

[2020-05-04 20:55] omrikiei commented on #22
Hi @kukat, I'm working on a version that includes the timeout as a cli flag.
regarding the reconnect strategy, it shouldn't happen, because on each request a new connection is created to the local machine.. I'll try to reproduce it

[2020-05-04 21:01] omrikiei commented on #22
@kukat I closed and opened phpstorm, and managed to connect with no issue

[2020-06-03 04:31] omrikiei commented on #21
Ok closing for now as this seems irrelevant..

[2020-06-03 04:31] #21 closed

[2020-06-24 18:21] omrikiei commented on #22
closing issue for now

[2020-06-24 18:21] #22 closed

[2020-07-22 22:40] jessebye opened #23 "Sessions being left open with "closing session... err: EOF session not found in openRequests""
We are using `ktunnel` to use `xdebug` against our remote php pods. It works great, but we noticed that all connections are left open indefinitely.

The `ktunnel` logs show errors that seem to be related:
[code]

How do we resolve this?

[2020-07-24 23:09] omrikiei commented on #23
Hello @jessebye, which version of ktunnel are you using on the cluster's end? do you instrument it with the cli?

[2020-07-27 15:24] jessebye commented on #23
Hi @omrikiei , I was using `1.2.6`, and instrumenting it with the CLI.

[2020-07-28 05:45] omrikiei commented on #23
Hey @jessebye, I think that the problem isn't that the connections are left open, but that there is instrumentation to close the connection that's invoked from multiple places and it yields the error - I'll try to return with additional insights soon. aside from the error messages - are you experiencing any additional impact?

[2020-07-28 05:50] omrikiei commented on #23
Hi @jessebye, it seems that after the connection is closed on the pod, data is received from the client(dev machine) and this yields the error..

[2020-07-28 16:34] jessebye commented on #23
@omrikiei hmm, so we are having this happen when using xdebug. The problem is that the php request never finishes, leaving a hanging xdebug connection. We have to kill the process every time before we send another request. I remember a while back you helped fix another xdebug issue; any chance you'd be willing to set up that stack again and see if you can reproduce this issue?

[2020-07-28 16:35] jessebye commented on #23
it sounds like maybe the connection closes too soon, so the client tries to send data back to the xdebug pod after the connection is closed (possibly trying to finish the php thread?) and causes the error

[2020-07-28 16:35] jessebye commented on #23
are there any timeouts that we might be hitting that would close the connection prematurely?

[2020-07-29 15:02] omrikiei commented on #23
Dial timeout was increased to 500ms in version 1.2.7(found here in the releases) could you see if the issue reproduces with that one?

[2020-07-29 17:24] jessebye commented on #23
I updated to 1.2.7, but still getting errors like this:

[code]

I notice that adding a breakpoint will cause the "session not found in openRequests" message to appear. It seems like the session is closed when the IDE expects it to be open.

[2020-07-29 17:35] jessebye commented on #23
Here are debug logs, if they are helpful. Local host:

[code]

ktunnel expose container:
[code]

[2020-07-29 21:54] omrikiei commented on #23
Probably a bug..
The client reader [explicitly ignores EOF errors](https://github.com/omrikiei/ktunnel/blob/v1.2.7/pkg/client/client.go#L106) on the stream and doesn't close the connection, while the server side reader [does not](https://github.com/omrikiei/ktunnel/blob/v1.2.7/pkg/server/server.go#L100)..

This seems like a small fix - I'll try to push it sooner than later

[2020-07-29 22:35] omrikiei commented on #23
Hey @jessebye - a new beta version now signals the client when a connection is closed on the server side, I think it might solve this issue. Since it's a change on the server code - I don't think you need to do anything but try to reproduce the issue and see what happens(it will pull the latest image from quay.io), let me know if the issue persists.

[2020-07-30 03:09] jessebye commented on #23
Still seeing this issue with the latest image, unfortunately.

[2020-07-30 15:03] marcusbuffett opened #24 "Problems with large files"
I'm trying to proxy to a local web server, but it looks like ktunnel doesn't behave well with large files. Here's some output from curl:

[code]
Please, no judgement for the 4MB JS file :smile:  I do see these logs from ktunnel about buffer sizes:
[code]
Wonder if there's anything I can do about this limitation? Thanks!

And awesome program, exactly what I was looking for and easy to set up

[2020-08-02 06:34] omrikiei commented on #23
Hi @jessebye - I modified the server to only close the connection if it was by a signal from the client. the fix is currently branched out to v_1_3 which I hope to release later this week. however if you'd like, you can clone build it locally and explicitly call the server version with the `-i` flag
for example:
[code]

I made some tests to make sure it doesn't break anything and that debugging wo

[2020-08-02 08:38] omrikiei commented on #24
Hi @marcusbuffett, thank you for the kind words!
I'm 98% positive that the failure is related to buffer limitations in GRPC, so I limited the buffer size and should release it under v1.3.0 sometimes this week. however, if you'd like to test it out before that would be great! you can do so by cloning and building from branch v_1_3, and explicitly call the server version with the `-i` flag
for examp

[2020-08-03 15:46] jessebye commented on #23
Hey @omrikiei , that is looking better but we still get left with hanging connections. I made a video showing what happens:
https://d.pr/i/LAJona

Hopefully that helps explain the exact problem.

[2020-08-03 17:54] omrikiei commented on #23
hey @jessebye, thanks for the feedback... i committed a minor fix to the branch - could you check now?

[2020-08-03 21:07] jessebye commented on #23
Interesting, no longer see the "EOF" in the logs, but the same issue happens - the php thread never goes away on its own.

[2020-08-03 21:12] jessebye commented on #23
Debug logs:
[code]

[2020-08-04 10:44] tamasfe opened #25 "Clean up unused resources"
After using `ktunnel expose` and an unexpected shutdown the deployment and the service will stay in the cluster indefinitely.

There could be something like a `ktunnel clean` or `ktunnel reconnect`. Alternatively there could be a timeout after which the resources delete themselves if the connection is lost to the client, I'm not sure if this is possible.

This is not a must have feature, but it wo

[2020-08-05 00:27] marcusbuffett commented on #24
No dice, unfortunately :/ I tried with a 400kb file:
[code]
curl gets stuck there and stays at the same % received. Then eventually gives:
[code]

[2020-08-05 22:18] jessebye commented on #23
@omrikiei sorry, we're still having some trouble because of this. Any idea how to resolve it?

[2020-08-06 03:13] omrikiei commented on #23
Not yet, I'll try to continue troubleshooting in the next couple of days..

[2020-08-10 08:03] omrikiei commented on #23
hi @jessebye, I'm finding it difficult to make time to troubleshoot and debug this issue, so it might take longer. I'm sorry :(

[2020-08-10 08:03] omrikiei commented on #24
hi @marcusbuffett, I'm finding it difficult to make time to troubleshoot and debug this issue, so it might take longer. I'm sorry :(

[2020-08-10 17:23] marcusbuffett commented on #24
No worries at all, I’m happily using ktunnel for other purposes currently

[2020-09-03 13:57] alexellis opened #27 "Revise questionable claims about Ngrok and Inlets"
Hi @omrikiei

I don't believe that you meant to call Ngrok and inlets "insecure" and "incomplete" as a way of attacking other open source projects openly, however you have done that and it could be considered slanderous.

In what way is Ngrok or inlets insecure? Either give evidence and qualify your opinion, or I would ask you to kindly remove it. inlets is a free open-source community project and

[2020-09-03 14:12] alexellis commented on #27
Thank you for the quick response. I appreciate it.

[2020-09-22 18:27] jaredallard commented on #24
I'm also running into this. Happy to help, but not 100% sure where to go 😢

[2020-09-23 00:42] jaredallard commented on #24
I fixed this here: https://github.com/jaredallard/ktunnel/tree/jaredallard/feat/context

However, I put a lot of other changes in this branch, so I need to clean it up to make an actual PR.

[2020-10-11 05:55] omrikiei commented on #24
@marcusbuffett, with @jaredallard 's contribution now merged and released in v1.3.0 - could you kindly check if the issue persists?

[2020-10-11 05:57] omrikiei commented on #23
Hey @jessebye, v1.3.0 now released and connection terminations are handled in a more graceful manner - could you please check if the issue persists on this version?

[2020-10-12 19:17] jessebye commented on #23
Hi @omrikiei! I just upgraded to v1.3.0 and am really pleased to say the issue is gone!

[2020-10-12 19:17] #23 closed

[2020-10-23 20:10] omrikiei commented on #24
Just managed to test with 1.8G file - it works. so closing the issue..
![image](https://user-images.githubusercontent.com/6465556/97049753-e3fff180-1584-11eb-8806-3ca7dc573062.png)

[2020-10-23 20:10] #24 closed

[2020-11-06 13:03] gtathub opened #31 "Expose doesn't work when source and target port are different"
I tried to use the expose command to forward traffic from a kubernetes service to a local port:
[code]

Access from another pod in the same cluster using curl just says:
[code]

It looks like the service will be created with a source port of `80` and a target port of `8000`, but the pod is listening on port `80`. When I change the service manually and set source and target port to `80`, it works.

[2020-11-15 17:07] omrikiei commented on #31
What port is the local process listening to?

[2020-11-15 18:39] omrikiei commented on #31
Hello @gtathub, which port is your local machine listening on?

[2020-11-17 03:14] luislhl commented on #31
I'm having the same issue.

I have a service listening on port 3000 locally.
If I run `ktunnel expose my-service 8000:3000`, then I cannot access it from inside the cluster:

If I then run `ktunnel expose my-service 3000:3000`, it works.

[2020-11-17 08:15] omrikiei commented on #31
@luislhl @gtathub I'll try to look into it soon. thank you!

[2020-11-17 08:20] gtathub commented on #31
Hi @omrikiei,

I tried it with a simple python server running at port 8000.

`python3 -m http.server 8000`

As @luislhl points out, it works with same the source and target port. With different ports, I need to manually change the service to get it working.

[2020-11-17 08:33] omrikiei commented on #31
Hi @gtathub, it seems to be working for me
![image](https://user-images.githubusercontent.com/6465556/99365676-4a480d80-28c0-11eb-9285-ad03569fd115.png)

Which version of ktunnel are you using?

[2020-11-17 08:44] gtathub commented on #31
Hi @omrikiei,

ah, wait. You were testing the pod and used the port-forward to access port 3000 on the pod, right? I think the ports on the pod are fine. But can you also test the service that was created in Kubernetes by the expose command?

The service should have a different source and target port now (in your case source: 3000 and target: 8000). That means that another pod in the cluster that

[2020-11-17 09:20] omrikiei commented on #31
a fix will be available in ~20 minutes

[2020-11-17 09:29] omrikiei commented on #31
@gtathub @luislhl
v1.3.1 with the fix is available through the releases page, and via homebrew.
could you kindly confirm the issue is resolved?

[2020-11-17 10:30] gtathub commented on #31
That solved the issue! Thank you!

[2020-11-17 10:30] omrikiei commented on #31
awesome, closing, thank you

[2020-11-17 10:30] #31 closed

[2020-12-09 16:54] Tomasz-Kluczkowski opened #33 "/.kube/config: no such file or directory"
Hi,

I have followed the example for Pycharm debugging.

I have deployed the example to docker-desktop kubernetes.

When I look into the logs on the `pyremotedebug-<hash>` pod I can see this error:

[code]

I follow all the steps in the instructions , start the remote debugger, it is waiting for connection.
I do `ktunnel inject deployment pyremotedebug 4321`

and the output is:

[code]

So I am mi

[2020-12-13 21:40] omrikiei opened #34 "inject doesn't wait for a signal"

[2020-12-13 21:42] omrikiei commented on #33
Hi @Tomasz-Kluczkowski,
Actually the `Failed getting kubernetes config: stat /.kube/config: no such file or directory` error is legitimate on the server since it should not read kubernetes configurations, I will make sure to remove this error from the server to avoid confusion..

It seems that there is a bug with inject that was introduced following a refactor of the code, I'm fixing it.

[2020-12-13 21:54] omrikiei commented on #33
Hi @Tomasz-Kluczkowski, a fix was released in version `v1.3.2`
Thank you for your feedback! enjoy ktunnel

[2020-12-13 21:55] #34 closed

[2020-12-13 21:57] #33 closed

[2020-12-22 17:17] mysterybear opened #36 "Subsequent requests hang for exactly 1 minute"
Hey,

I've got it set up and it works, but the request/response round-trip is intermittently very, very slow, or hangs and doesn't complete.

I have no idea what kinds of logs/tests to try to give more meaningful information about this issue, if there are any suggestions I'd be happy to undertake them.

Cheers!

[2020-12-22 17:38] omrikiei commented on #36
hey @mysterybear, could you run the client in verbose mode and share logs

[2020-12-22 18:41] mysterybear commented on #36
Here we go:

[code]

The first request went through very quickly, I hit the return carriage in stdout before the subsequent request and then after the request was made, can see between 18:35:41 and 18:36:41, a 1 minute time for the request to complete

[2020-12-22 22:15] omrikiei commented on #36
are these HTTP requests or is it some kind of a persistent protocol?
The way requests are broken down to sessions it seems like it actually took 1 minute to close the previous session (of the first request) and the client was re-using it.
Would it also be possible to obtain the server side logs from the ktunnel pod?

[2020-12-23 09:31] mysterybear commented on #36
Thanks for the quick response!

HTTP with TLS, I'm hitting `https://rev-prox.[TLD]`. I've tried with and without the TLS flag, my latest CLI invocation is like: `ktunnel expose -v -n bj-dev -t ktunnel 3000:8080 | tee log 2>&1`

Here is the log from the ktunnel server pod:

[code]

Same pattern, added extra newline between requests and on hang, first request fine, made a change to the HTML being se

[2020-12-24 09:12] omrikiei commented on #36
it seems that the 60 seconds are derived from the client (not the ktunnel client, the one that is trying to reach the server over the tunnel), which client are you using to make the requests?

[2021-01-03 07:49] omrikiei commented on #36
@mysterybear is this issue still relevant?

[2021-01-03 09:20] mysterybear commented on #36
@omrikiei Hi, I was using curl as the client, sorry, got caught up with Xmas/NYE!

The problem was also apparent when just using my browser (Chromium) as a client also

I am in the middle of a migration from one cloud provider to another right now though, I guess it will be interesting to see if the problem is still happening on the new provider.

Could keep this open for a few days and I can get

[2021-01-03 20:58] omrikiei commented on #36
Hey @mysterybear, no problem keeping this open.. Happy new year 👍

[2021-01-09 10:04] mysterybear commented on #36
Cheers @omrikiei

I have tried again and am still getting the same behaviour, whether I use curl or the browser as the client, and whether I use miniserve or Next.js as the server.

Usually the first request goes through right away though, but then if I make a change, it's always that next request that hangs for 1 minute.

Can you think of any other tests I can try to find out what's going on, or

[2021-01-09 10:15] mysterybear commented on #36
Ah I figured I can post from my ingress logs, I'll just put `***`s where I'm obfuscating the domain and `*.*.*.*` for IP addr's

[code]

@omrikiei

[2021-01-09 10:23] mysterybear commented on #36
less noisy version with just a single index.html served using miniserve:

[code]

(the logs in the previous example were tunnelling a full Next.js site)

[2021-01-09 18:58] omrikiei commented on #36
Hi @mysterybear, I authored a new beta version that closes the connection from the client on EOF - I think this is what caused the connection to hang...
would you mind trying to work with this beta? if it works I'll release it as a fix...
You can find it [here](https://github.com/omrikiei/ktunnel/releases/tag/v1.3.3-beta) or build it from [this](https://github.com/omrikiei/ktunnel/tree/issue/36) b

[2021-01-10 11:46] mysterybear commented on #36
@omrikiei Hey this is working wonderfully now, tyvm!

One thing though, I did have to run the client with `-i quay.io/omrikiei/ktunnel:v1.3.3-beta` because by default it tries to find the tag `1.3.3-beta` (no 'v'!).

[2021-01-10 12:19] omrikiei commented on #36
@mysterybear thank you again for your feedback, fixed versioning tags issue as well and released v1.3.3
closing this

[2021-01-10 12:19] #36 closed

[2021-03-02 14:01] antonijakubiak-samsung opened #39 "Error upgrading connection"
[code]

[2021-03-02 16:00] omrikiei commented on #39
hey @antonijakubiak-samsung,
which version of ktunnel are you using, and which version of kubernetes are you working with?

[2021-03-03 05:39] antonijakubiak-samsung commented on #39
Hi, I am using latest version of kubectl. It works fine with kubernetes server 1.18, but not works with 1.20.

[code]

[2021-03-03 06:42] omrikiei commented on #39
a fix is on the way! :)

[2021-03-03 06:51] omrikiei opened #41 "integrate goreleaser in git actions when branch is merged to master"

[2021-03-03 06:52] omrikiei opened #42 "create a web UI to view resources and bind them with tunnels"

[2021-03-03 06:56] omrikiei commented on #39
@antonijakubiak-samsung could you please check if this is sorted out in v1.3.5?
Thank you!

[2021-03-03 07:59] antonijakubiak-samsung commented on #39
Thank you for updating the dependencies. It works fine now.

[2021-03-03 08:02] omrikiei commented on #39
actually there was a bug :)
awesome, closing the issue!

[2021-03-03 08:02] #39 closed

[2021-03-24 09:28] footplus opened #43 "Multiple ports forwarded in a single expose ?"
Hello,

First, thanks for writing this software, which is of great use to me.

I'm trying to use ktunnel to expose a locally running service (actually an Apache Spark driver that need to talk to Apache Spark Executors it spaws inside the cluster) that happens to listen on several ports at the same time.

What i'm basically looking to do is a multiport remote service forwarded to multiple local por

[2021-03-24 09:51] footplus commented on #43
Adding a name in the spec seems to fix the multiport expose issue for me, but I don't know if this is the correct fix regarding the range of Kubernetes that needs to be supported for ktunnel.

[code]

[2021-03-30 18:31] #43 closed

[2021-03-30 18:33] omrikiei commented on #43
fix merged to v1.3.6, thank you @footplus

[2021-04-12 15:14] mysterybear opened #45 "Hanging at INFO[0000] waiting for deployment to be ready"
Image is v1.3.6

Kubernetes side, deployment/pod seems to start up just fine:

[code]

[code]

Edit: just tried with v1.3.3 also since I remember that working for sure last time I used this (It's me from #36 :D) issue persists just the same... I've checked I haven't got any lingering ktunnel resources server-side as well

Edit: `k logs` on the server pod shows:
[code]

[2021-04-13 14:38] omrikiei commented on #45
hey @mysterybear can you try running ktunnel with the verbose flag to see if we can catch additional details from the logs?

[2021-04-13 16:13] mysterybear commented on #45
Hi @omrikiei I was running with the verbose flag already!

I tried `strace`, it's pretty noisy, nothing obvious jumping out (was hoping that would hang so we could see where but instead it just keeps logging and logging)

next thing I could try is running the client and server aspects separately rather than using the expose shorthand I guess? I'll try that, pretty busy and did get a tunnel working

[2021-04-13 20:51] omrikiei commented on #45
Hey @mysterybear, on your client logs, do you see the following log message?
`Exposed service's cluster ip is: x.x.x.x`

[2021-04-13 21:16] omrikiei commented on #45
I think this is happening because of a time offset between your machine and the kubernetes node, I will start working on a fix - if you could verify it that would be great!

[2021-04-14 14:34] mysterybear commented on #45
Yes that is there, I just didn't include it, sorry for that!

There's a 1 hour time difference between me:
[code]

And the node:

[code]

[2021-04-14 16:00] outbounder commented on #45
Hi,

jfyi: we were hit by the same issue reproduced on mac with timezone difference with v1.3.4, after updating to v1.3.7 the issue was not reproduced.

Note: on ubuntu with v1.3.3 the issue is not present.

Hope that helps,
Cheers for the good work with ktunnel! 👏🙇

[2021-04-14 16:11] omrikiei commented on #45
Hey @mysterybear, issue is resolved on v1.3.7, could you kindly confirm it works now?

[2021-04-15 09:44] mysterybear commented on #45
Yes, confirmed! Thanks again @omrikiei !

[2021-04-15 09:44] #45 closed

[2021-05-07 00:09] tamasfe opened #46 "Kubectl plugin"
Providing ktunnel as a [kubectl plugin](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) and exposing commands like `kubectl tunnel expose ...` would help with distribution and updates.

[2021-05-08 00:50] sjones512 opened #47 "Issue waiting for pod to be ready after injecting"
I believe there is an issue waiting for the newly injected pod to be ready.

`injector.go:28 waitForReady(&o.Name, o.GetCreationTimestamp().Time, *o.Spec.Replicas, readyChan)`

This line seems to always use the creation timestamp of the deployment which is not updated when the deployment is modified. I think we're on Kubernetes 1.19.

Perhaps I'm misunderstanding the code but don't we want a pod c

[2021-05-09 18:19] omrikiei commented on #46
this is a great idea @tamasfe, I'll try to make it happen soon

[2021-05-12 10:01] omrikiei commented on #47
tested and merged, thank you again @sjones512

[2021-05-12 10:01] #47 closed

[2021-05-12 10:02] omrikiei commented on #46
https://github.com/kubernetes-sigs/krew-index/pull/1280 in the works..

[2021-05-16 18:19] omrikiei commented on #46
plugin is hosted at krew, readme updated 👍

[2021-05-16 18:19] #46 closed

[2021-05-26 19:20] amenuor opened #55 "ktunnel v1.3.9 killed on Mac OS Big Sur"
## Description
On Mac OS Big Sur (Version 11.3.1) running ktunnel 1.3.9 results in process being terminated with SIGKILL

## Expected Behavior
We would expect ktunnel to work normally

## Current Behavior

Even a simple invocation, just invoking the command ktunnel without any argument, results in the process being killed

[code]

## Steps to Reproduce
1. `brew tap omrikiei/ktunnel && brew install

[2021-05-26 20:37] omrikiei commented on #55
Hi @amenuor,
I'm trying to get a hold of a big sur machine to check it, in the meanwhile - would you mind sending me the following trace on version 1.3.9? does it also happen when building 1.3.9 from source?
`sudo dtruss ktunnel`

[2021-05-26 20:44] amenuor commented on #55
Hi @omrikiei,
sure, output from the trace:

[code]

Now the interesting bit: when building both tags/v1.3.9 and HEAD the problem is not there, everything runs smoothly.
The issue happens when installing from brew

[2021-05-28 04:07] omrikiei commented on #55
thank you @amenuor , I think UPX was causing it so removed it from the actions pipeline, could you check with v1.4.0?

[2021-05-28 04:15] amenuor commented on #55
Hello @omrikiei,
1.4.0 works like a charm. Great work!

[2021-05-28 04:15] amenuor commented on #55
Hello @omrikiei,
1.4.0 works like a charm. Great work!

[2021-05-28 04:36] #55 closed

[2021-06-02 11:37] nickgronow opened #56 "Brew install on Big Sur Mac ARM fails"
I have tried lots of variants of installing with brew and getting the following:

[code]

[2021-06-02 21:09] omrikiei commented on #56
Hi @nickgronow,
is this not working for you?
`brew tap omrikiei/ktunnel && brew install omrikiei/ktunnel/ktunnel`

[2021-06-03 12:12] nickgronow commented on #56
This is what I get:

[code]

[2021-06-05 19:46] omrikiei commented on #56
@nickgronow is this after removing+untapping an re-tapping to the tap?
the [formula](https://github.com/omrikiei/homebrew-ktunnel/blob/master/ktunnel.rb) itself is not head-only..
could you try removing, untapping and readding and installing the package?

[2021-06-12 16:12] omrikiei commented on #56
Hey @nickgronow - is this issue still ongoing?

[2021-06-17 15:02] Mariappan opened #57 "Ktunnel crashes if we try to use the kube config from env variable"
Hello, Thanks for this nice k8s plugin.

Most dev use this idea of running a proxy container to forward the k8s traffic to local dev environment manually.
But this plugin really makes that process smoother, with a single command.

I am trying to use this plugin for my dev environment and I am facing a minor issue with my setup.

I have multiple clusters configured though env variable KUBECONFIG
ht

[2021-06-23 18:48] omrikiei commented on #57
Hi @Mariappan , thank you for submitting the issue - I'll take a look and update the ticket soon

[2021-06-23 18:48] omrikiei commented on #56
Issue is stale thus being closed, @nickgronow kindly re-open if you encounter this issue again

[2021-06-23 18:48] #56 closed

[2021-06-24 08:52] #57 closed

[2021-07-02 03:37] mmerickel opened #59 "v1.4.1 is not available"
The latest krew plugin is trying to use v1.4.1 but looking at quay.io that version is not tagged.

Kubernetes event:

[code]

[2021-07-02 14:20] omrikiei commented on #59
on it, sorry

[2021-07-02 14:30] omrikiei commented on #59
fixed, sorry for that

[2021-07-02 14:30] #59 closed

[2021-07-02 14:37] mmerickel commented on #59
thank you!

[2021-07-16 09:19] ahlae opened #60 "PyCharm debugger waiting for process connection"
After starting the PyCharm debugger with IDE host name 0.0.0.0, port 5678 and correct path mappings, then setting up the tunnel and starting the remote application with

import pydevd_pycharm
pydevd_pycharm.settrace('localhost', port=5678, stdoutToServer=True, stderrToServer=True)

in the source code (using pip install pydevd-pycharm~=211.7628.24 as the PyCharm run/debug configuration tells me) th

[2021-07-16 20:09] omrikiei commented on #60
Hi @ahlae - could you reproduce this issue with verbose mode in ktunnel so that debug logs are also seen?
I'm assuming that the pydevd version you installed is the one suggested by your pycharm version, and that 'local' remote debugging works

[2021-07-17 09:36] ahlae commented on #60
Hi @omrikiei, thank you for your fast response. <3

Yes, 'local' remote debugging works. I launch a docker container running the app, install the pydevd_pycharm package and the connection back to PyCharm works without issues. The PyCharm Debug console shows me:

Starting debug server at port 5,678
Use the following code to connect to the debugger:
import pydevd_pycharm
pydevd_pycharm.settrace('0.0

[2021-07-17 15:39] omrikiei commented on #60
Hi @ahlae - one more question:
How is remote debugging triggered on the application? is it during application init?

[2021-07-17 18:04] ahlae commented on #60
I tried different options. Since I'm setting this debugging workflow up for the first time I put the settrace after importing the pydevd module during application init. Then I tried different positions in functions or 'main'. All with the same result as described above.

[2021-07-17 19:15] omrikiei commented on #60
Well, it's very likely that the app is being initialized before the tunnel is established.
There are two things I suggest trying:
1. Trigger set_trace from a web endpoint instead of from init
2. If you must do it from init, set a 30 seconds delay

[2021-07-18 15:25] ahlae commented on #60
Hi @omrikiei - I can explain my workflow for setting up the debugging session because I think the tunnel is readily established when starting the app:

Because I wanted to test things out before building it into the real app I'm using the PyCharm python project example which has only one file called main.py:

[code]

I follow the subsequent steps:

1. I start the debugger in PyCharm by starting a

[2021-07-19 18:23] ahlae commented on #60
Sadly there seems to be no chance for me to get this running. I tried a web endpoint in the application which produces the same results as described above. I even installed an Ubuntu Desktop into the cluster network (to be able to use PyCharm) to rule out an issue with the VPN connection but without success.

Btw I'm running this on EKS with Kubernetes 1.19.

[2021-07-21 05:49] omrikiei commented on #60
Hi @ahlae, have you tried using the `expose` subcommand instead of `inject`? then in set_trace you should input the exposed IP or service name that was created.
additionally could you try sending the `suspend=False` argument as seen in [the example](https://github.com/omrikiei/ktunnel/blob/master/examples/pycharm-remote-debugging-on-k8s/main.py#L21)?

[2021-07-22 19:48] ahlae commented on #60
Hi @omrikiei - I tried what you proposed, expose and suspend=False. Always the same result:

Starting debug server at port 5,678
Use the following code to connect to the debugger:
import pydevd_pycharm
pydevd_pycharm.settrace('0.0.0.0', port=5678, stdoutToServer=True, stderrToServer=True)
Waiting for process connection...
Traceback (most recent call last):
  File "/opt/app-root/./main.py", line 9,

[2021-07-26 19:57] nickgronow commented on #56
Will do.  I can't remember how I got it running.  I will investigate and let you know if I encounter it again,.

[2021-08-04 19:44] #41 closed

[2021-08-10 14:55] MShekow opened #61 "Tunneling doesn't work"
On Windows 10, Docker for Windows and using a k3d cluster, the tunnel cannot be established.

On the host, when running something like `ktunnel expose debuggerhost 4321:4321` I get the following messages:
[code]

The first line already looks wrong to me.

[2021-08-13 01:19] omrikiei commented on #61
Hey @MShekow - sorry for taking a while to address this..
I released a beta version that's supposed to have a fix for this - could you try and test it out please and see if it fixes your issue?
you can get it [here](https://github.com/omrikiei/ktunnel/releases/tag/v1.4.2-beta)

[2021-08-13 11:41] MShekow commented on #61
No worries. I can confirm that the tunnel can be established with the 1.4.2 beta.

[2021-08-13 11:41] #61 closed

[2021-08-13 15:39] omrikiei commented on #61
Yey! releasing and closing!

[2021-09-02 02:31] areller opened #64 "Is license MIT or GPL 3?"
About section says license is GPL 3
![image](https://user-images.githubusercontent.com/15989650/131771838-b0cd919b-fc28-450e-bcdb-754f7b8b1c54.png)

But README says it's MIT
![image](https://user-images.githubusercontent.com/15989650/131771859-18869aca-c47e-4ca5-829d-8d717c9716a5.png)

Which one is it?

[2021-09-02 04:15] omrikiei commented on #64
it was recently changed to GPL-3.0 - I'll make sure to update the README as well.. nevertheless - if you find this license problematic for a use case feel free to reach out :)

[2021-09-02 04:21] #64 closed

[2021-09-05 08:12] omrikiei commented on #60
Hello @ahlae, wanted to know if you've made any progress with a debugging session, and if this issue is still relevant

[2021-09-05 15:41] ahlae commented on #60
Hi @omrikiei,

yes, this is still an issue. Atm I'm working on several issues that popped up and I didn't had time to resolve it. For now we kept developing and debugging locally. If you want to close the issue we can do this and I'll write you a PM when I've finished.

[2021-09-08 07:51] sTb1337 opened #65 "unknown shorthand flag: 'r' in -r"
On your README it says:

`ktunnel expose myapp 80:8000 -r #deployment & service will be reused if exists or they will be created`

but sadly there's no flag on ktunnel version 1.4.0

[code]

[2021-09-08 07:58] sTb1337 opened #66 "failed parsing session uuid from stream, skipping error="invalid UUID length: 0" during inject deployment"
I have a K8s Deployment which declares containerPort 80 for an REST Server.

I want to redirect all ingress traffic from this K8s Deployment (POD) to my local machine.

I am using version 1.4.0

[code]

[2021-09-09 11:49] cblims commented on #65
Seems like brew is not updated for version 1.4.3. I downloaded from GitHub releases and this version has reuse enabled...

[2021-09-09 17:36] omrikiei commented on #65
on it

[2021-09-09 17:38] omrikiei commented on #65
@cblims thank you for bringing this to my attention - could you please recheck now?

[2021-09-09 17:41] omrikiei commented on #66
Hi @sTb1337,
according to this line `failed connecting to localhost on port 80 scheme tcp  error="dial tcp [::1]:80: connect: connection refused"` it seems like your local machine is not listening on port 80... are you listening on a different port locally?

[2021-09-09 22:11] cblims commented on #65
Works! now updated with brew! Thx! Have you considered Chocolately for Windows binary distribution?

[2021-09-10 06:52] sTb1337 commented on #65
Update was successful via brew. Thx.

`brew install omrikiei/ktunnel/ktunnel
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 3 taps (omrikiei/ktunnel, homebrew/core and homebrew/cask).
==> New Formulae
age              bbtools          cosign           cppzmq           fann             flamebearer      htmlq            libmng           microsocks       mimalloc         murex            osc

[2021-09-12 08:58] omrikiei commented on #65
@cblims will take a look at `Chocolately` - if you know how to add support for it could be great if you add it.
Closing the issue

[2021-09-12 08:58] #65 closed

[2021-09-28 14:41] omrikiei commented on #66
Hi @sTb1337 is this still an issue?

[2021-09-29 07:49] omrikiei commented on #60
@ahlae hi, is this issue still relevant?

[2021-10-04 09:39] ahlae commented on #60
@omrikiei Hi, yes, but I'm too busy to solve it right now. I'm going to close the issue and reopen it when continuing on it.

[2021-10-28 17:40] chandlerkent opened #67 "Mixed linux and windows clusters"
First, thank you very much for ktunnel! We discovered it this week and are replacing our hacky usage of ngrok with this.

We have a mixed linux and windows node Kubernetes cluster and often the deploy of ktunnel fails if Kubernetes schedules it on a windows node. We can fix this by adding a `nodeSelector` manually to the deployment after ktunnel initiates it:

[code]

This selector is specific to

[2021-10-29 21:28] omrikiei commented on #67
Hi @chandlerkent, firstly thank you for the kind words! this really means a lot to me!
Since the docker image pulled and used as the server is built for linux it's probably the reason it's failing.
The easier way would be to use `-r` when running ktunnel, in this case the server side does not teardown on exit and can be reused.
I'll also look into ways of customizing the injected/exported pieces u

[2021-10-30 06:31] omrikiei commented on #67
Hey @chandlerkent - v1.4.4 supports adding node selector tags with the `-q` flag to the expose command:
[code]

[2021-10-30 11:10] chandlerkent commented on #67
That looks great! I will give it a try on Monday and let you know.

Thanks again!

[2021-11-01 17:28] chandlerkent commented on #67
@omrikiei I can confirm this is working great for us. Thanks again!

[2021-11-01 17:28] #67 closed, assigned to nobody

[2021-12-02 18:28] omrikiei commented on #66
@sTb1337 hi, this issue seems stale, is it still relevant?

[2021-12-07 05:51] #66 closed

[2021-12-07 07:49] chmielas commented on #60
I also tested this with pycharm Build #PY-213.5744.248 and the connection to the debugger starting only when pressing CTRL+C in the python console.
The problem occurs not only on EKS but also on the local minikube cluster (test was performed with both minikube versions 1.22.2 and 1.15.0)

[2022-01-05 22:52] erulabs opened #69 "ktunnel `--tls` should set `traefik.ingress.kubernetes.io/service.serversscheme: https` annotation"
Hello!

 I've been loving ktunnel, and just started using it with a cluster that uses Traefik. I spent a full 3 hours trying to figure out how to get the Ingress system to pass HTTPS thru my ktunnel service, and finally found out that the _service_ needs to have an annotation that hints to Traefik that the service speaks TLS.

  When using `--tls` option, the service should be created with the `tr

[2022-01-07 16:39] omrikiei commented on #69
How about if we add a flag that can be used to set a custom flag to the manifests?

[2022-01-18 08:27] caedo960 opened #70 "ktunnel expose --ca-file option not used?"
Hi,

First of all thank you so much for creating this awesome project 👍

I'm trying to enable TLS using `--tls` and `--ca-file` options but I'm not sure is it actually working. What I'm curious about is this part:

https://github.com/omrikiei/ktunnel/blob/6bf63db523c81a9e06dfe2fd44607af910551e30/cmd/expose.go#L114

Should the `CertFile` parameter be `CaFile` instead?

https://github.com/omrikiei/k

[2022-01-22 18:03] omrikiei commented on #70
Good catch, will address this shortly

[2022-01-24 18:07] apkapil opened #71 "ktunnel inject deployment not working"
i was trying ktunnel to inject deployment  but not working

command used:-ktunnel inject deployment flask-deployment 80

Error
[code]

[2022-01-24 23:17] omrikiei commented on #71
Hi @apkapil, do you have permissions to edit objects in the kubernetes cluster? Which cluster version is it?

[2022-01-25 04:37] apkapil commented on #71
Hi @omrikiei ...yes i am admin and i am able to create deployment

kubernetes :- v1.21.5-eks-9017834

[2022-01-25 17:07] omrikiei commented on #71
and are you using the same KUBE_CONFIG environment as where you're running the cli from?

[2022-01-25 17:27] apkapil commented on #71
i am changing  kubernetes context  using docker-desktop

[2022-01-26 06:11] code0x9 opened #72 "GoReleaser need Go > 1.16 for darwinarm64 binary build"
I want to use prebuilt darwinarm64 binary for my M1 Mac

https://github.com/omrikiei/ktunnel/runs/4053675165?check_suite_focus=true
[code]

[2022-01-26 07:20] #72 closed

[2022-01-26 12:41] omrikiei commented on #71
got it, is it possible that when you run the command - a different context is set which you do not have admin rights to?
when you try to create a simple portforward to a pod in the cluster, does it work?

[2022-01-26 14:11] apkapil commented on #71
Its working  but we are getting access issue in that  link
[code]
![Error](https://user-images.githubusercontent.com/98034001/151178364-84020877-0a3a-41ba-bf78-d67bdebdaf8a.png)

[2022-01-26 19:53] omrikiei commented on #71
ok this makes sense, you shouldn't access the port forward link from a browser, instead you should try to access the exposed client IP (`10.100.68.132` in the case of the example you shared) from within the cluster, if you'd like to access it externally you'll need to set up an ingress or annotate the exposed service to be routed from a load balancer

[2022-01-28 08:00] caedo960 commented on #70
Hi, any updates regarding this?

[2022-01-29 11:04] omrikiei commented on #70
Hi @caedo960,
I've release v1.4.5 which fixed the instrumentation of tls on all subcommands - please note that for this to work with expose/inject you will need to bake a ktunnel image that contains the tls certificate and key file and use both `--cert` and `--key` in the client command (inject/expose)

after thinking about it a little, I'm want to develop a mutual tls connection without the need

[2022-01-30 07:58] omrikiei commented on #16
`server-image` options supported - closing issue ❤️

[2022-01-30 07:58] #16 closed

[2022-01-31 12:27] caedo960 commented on #70
Thank you for the fixes. I've ran into a few problems:

- For some reason `brew` does not offer the 1.4.6 version yet (1.4.4 is the latest).
- I pulled the latest changes from master and edited the dockerfile to include `server-cert.pem` and `server-key.pem` files and build the image, but when I ran command `ktunnel expose -n test -s tcp -t --cert server-cert.pem --key server-key.pem --server-imag

[2022-02-02 07:47] omrikiei commented on #70
Hi @caedo960, thank you for the feedback. I will try to address this by the weekend.

[2022-02-03 21:09] omrikiei commented on #70
try now please (v1.4.7) - you can get it from brew

[2022-02-04 17:59] okletzmayr opened #75 "Deployment can't get image - v1.4.7 missing on quay.io"
Thanks a bunch for this awesome tool, I just found it yesterday!
When I upgraded to 1.4.7 today, new tunnel deployments get stuck on image pull.
Seems like the [container registry](https://quay.io/repository/omrikiei/ktunnel) is missing the v1.4.7 image tag. I'd be grateful if this gets fixed.

[2022-02-04 20:55] omrikiei commented on #75
Fixed manually, automated build failed due to quay.io rate limiting, I intend to move to a new registry soon.
Can you confirm it works now?

[2022-02-05 02:11] okletzmayr commented on #75
The deployments work now - thank you!

[2022-02-05 02:11] #75 closed

[2022-02-07 10:21] Noksa opened #76 "Autocompletion"
Hello.
Thanks for the great tool.

Do you have a plan to implement autocompletion for zsh/bash/etc?

Thanks

[2022-02-07 18:32] omrikiei commented on #76
I didn't have a plan, but where there's a will there's a way 😊, I'll try to prioritize this

[2022-02-08 15:01] caedo960 commented on #70
Thank you for the fixes.

Brew works now as well as `--key ` flag. But now the pod fails with an error: `error="unknown flag: --cert server-cert.pem"`

[2022-02-08 18:29] omrikiei commented on #70
are you using a baked container with the latest version?
can you share the pod args from the manifest?

[2022-02-11 07:43] kapilsingh421 commented on #71
[code]

[2022-04-04 11:32] koper89 opened #79 "Swap functionality"
I would like to replace current deployment of some app (lets call it myapp) with ktunnel to debug it locally. This is kind of similar to expose with reuse flag, but trying it when it tries to patch deployment and replace labels it fails as they are immutable by design.

Is there any plans to add such functionality? I can see in TODO it was once in plan but not sure if it's still in scope of this?

[2022-04-20 07:14] cedricspaceiq commented on #60
@chmielas what type of laptop or machine are you one? I working on an Apple M1 laptop and I'm starting to get a feeling it might be related to that. Can you confirm?

[2022-04-20 07:15] cedricspaceiq commented on #60
FYI, I'm facing the same issue.

[2022-04-20 10:47] Ahlaee commented on #60
@cedricspaceiq I'm facing the issue on PC. I don't think this is connected to an Apple M1.

[2022-04-26 10:58] guai opened #80 "is authentication with token supported?"
Hi
How does ktunnel authenticate itself in the cluster?
Can I use `--token=<token>` just like I use with openshift cli tool? e.g. `oc project --token=<token>`

[2022-04-26 13:08] omrikiei commented on #80
it is currently not supported, marking this as an enhancement

[2022-05-25 11:45] sameer-coder opened #81 "Does it work with Gihub codespaces?"
It is mentioned in the README "_Although ktunnel is identified with kubernetes, it can also be used as a reverse tunnel on any other remote system_"

Is there anyway I can use ktunnel to expose local resources(webserver) so that they can be accessed from within the GitHub codespaces container?

Thanks

[2022-05-27 05:21] omrikiei commented on #81
Good question, in order for that to work you would need the following:
1. a way to orchestrate ktunnel as a listener server in the codespaces container. From looking at the codespaces docs, you can add it in the [Dockerfile](https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers#dockerfile) and run it.
2. reaching the server from the local machi

[2022-05-27 08:50] mibollma opened #82 "Context Parameter Enhancement"
Would be nice to be able to select a specific context like --context (kubectl) or --kube-context (helm)

[2022-05-28 08:22] sameer-coder commented on #81
I will give it a try and report back in case I succeed in making it work for codespaces. Thanks!

[2022-06-15 16:57] JJCLane opened #84 "Small typo in inject example"
`deploymeny` instead of `deployment`

https://github.com/omrikiei/ktunnel/blob/2cb9f235207e6330e45bcf7e0a3a9d65c60ff098/cmd/inject.go#L35

[2022-06-21 07:01] #84 closed

[2022-07-15 19:11] #71 closed

[2022-07-28 23:31] israelvaldez commented on #70
I was able to get this error to go away by making the arguments that are being sent to the container in multiple arguments:
https://github.com/omrikiei/ktunnel/blob/fbd3f4e2740e552ff8a2464d9724fe04b8e18563/pkg/k8s/common.go#L141

Basically
[code]

Becomes:
[code]

Which results in the deployment looking like this:
[code]

I haven't tried to compile the project locally, I'll give that a try to get

[2022-08-17 05:51] criztovyl opened #87 "OpenShift compatibility (RunAsUser)"
When using ktunnel with OpenShift, for me ktunnel expose does not reliably work because the Deployment created has `RunAsUser`, which OCP does not allow unless you adjust it's security configuration.

OpenShift runs containers with non-root user by default, and the Deplpyment works fine when I manually remove the `RunAsUser`.

So far the bug, I am open to providing a PR, but maybe you already have

[2022-08-17 08:31] ciis0 commented on #87
https://github.com/omrikiei/ktunnel/blob/fbd3f4e2740e552ff8a2464d9724fe04b8e18563/pkg/k8s/common.go#L169-L171

[2022-09-01 09:33] BUCKFAE commented on #60
Same issue for me, can't even get the example to run.
PyCharm: 2022.2.1

[2022-09-01 12:51] pietervdheijden opened #88 "ktunnel expose throws exception: failed parsing session uuid from stream, skipping error="invalid UUID length: 0" session="
I'm trying to expose a local microservice on port 8080 in my cluster on port 80 via ktunnel:

[code]

However, this throws the following exception:

ktunnel does work though when exposing on port 8080:

[code]

Output:

My preliminary conclusion is that ktunnel doesn't work on low ports (80, 81, etc.), but does work on high ports (8080, 8081).

I'm using ktunnel version 1.4.8 on WSL2 (Ubuntu 20.04

[2022-09-07 05:24] omrikiei commented on #88
👀

[2022-09-16 08:33] sTb1337 opened #89 "latest version on brew is 1.4.7 and not 1.4.8"
brew doesn't know v 1.4.8.

` brew update
Already up-to-date.
brew tap omrikiei/ktunnel && brew install omrikiei/ktunnel/ktunnel
Warning: omrikiei/ktunnel/ktunnel 1.4.7 is already installed and up-to-date.
To reinstall 1.4.7, run:
  brew reinstall ktunnel`

is there anything I did wrong?

[2022-09-16 08:57] sTb1337 commented on #66
@omrikiei sry for keeping you wanting so long.

Yes the problem still exists with version 1.4.8 and I am running an http server on my local port 80.

` ktunnel inject deployment broker 80:80 -n cluster-base-integration
INFO[0000] Injecting tunnel sidecar to cluster-base-integration/broker
INFO[0000] ProgressDeadlineInSeconds is currently 600s. It may take this long to detect a deployment failure.

[2022-09-16 09:09] sTb1337 commented on #66
I was able to resolve this problem by NOT using port 80 to be exposed within the cluster.

`ktunnel expose broker 8080:80 -n cluster-base-integration
INFO[0000] Exposed service's cluster ip is: 100.111.230.107
.INFO[0000] waiting for deployment to be ready
....
INFO[0001] port forwarding to https://api.....com/api/v1/namespaces/cluster-base-integration/pods/broker-67554bf68d-f2zxw/portforward
INFO

[2022-09-19 14:44] sTb1337 commented on #88
@pietervdheijden i also came to this conclusion https://github.com/omrikiei/ktunnel/issues/66

[2022-09-22 16:04] benkelukas opened #90 "ARM64 image for Krew plugin"
Hello,

I'm trying to use the `tunnel` krew plugin on Mac M1 to tunnel to a local Kube cluster (Docker for Mac)

It seems that there is not a published version for arm64 on quay.io, and if I try to use the amd64 through rosetta, it segfaults and does not create the tunnel:

Output from running the docker container directly:

[code]

Output from running the Krew plugin:

[code]

Logs from the pod:

[2022-09-28 05:46] omrikiei commented on #89
fixed, sorry

[2022-09-28 05:46] #89 closed

[2022-10-03 08:59] omrikiei commented on #90
I'll try to get this fixed over the weekend, sorry for the inconvenience, in the meanwhile it's possible to build a supported image and pass the --image flag to the CLI

[2022-10-04 17:19] benkelukas commented on #90
@omrikiei no worries, thanks for looking into this! :)

[2022-10-24 12:36] igoooor commented on #90
@benkelukas have you been able to build an image working for ARM64? For me it says `upx (no such package)`

[2022-10-24 14:09] igoooor commented on #90
or maybe @omrikiei you may have had time to already look into it? Sorry for bothering you I know it's been only ~20 days since your last comment

[2022-10-27 06:02] omrikiei commented on #90
@igoooor not yes, what I can say is that upx is only used to compress the binary, it is not required for pure functionality - feel free to remote this line from the Dockerfile

[2022-10-27 08:05] igoooor commented on #90
Nice it seems to work indeed, thank you very much for the explanation!

[2022-11-02 21:58] LISTERINE commented on #60
I'm seeing this as well.
PyCharm 2022.2.3 (Professional Edition)
Build #PY-222.4345.23, built on October 10, 2022

[2022-11-17 11:12] freshteapot commented on #88
I can confirm, I suffered with this exact issue yesterday.

# Info
- On mac
- Using docker with k3d to run kubernetes
- Talking to remote server
- Using port 80, did not work
- Using port 800, did work

[2022-11-30 20:00] snyderpa-owl opened #91 "Support injection for applications with statefulset but no deployment."
I have a fairly simple use-case but struggling to work out the series of commands to make this happen.  In a dev environment with several namespaces each serving a php web app declared using a statefulset configuration, I want to reverse forward port 9003 to my local xdebug client.  I expect

[code]

to use the existing statefulset or for ktunnel to provide an `ktunnel inject statefulset` command.